{% extends 'company/base.html' %} 
{% block title %} Home {% endblock title %} 
{% block content %}
<h1>Home page</h1>
<p>Web Development Career Bootcamp by Uncle Engineer</p>

<div class="row">
  {% for post in all_posts %}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <img src={{ post.cover_image.url }} alt="{{post.title}}" class="img-fluid"/>
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.description }}</p>
        <a href="blog/{{post.id}}" class="btn btn-warning">Learn More</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
